.container {
    /* justify-content:center; 
    align-items:center; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.title {
    padding: 1em;
    margin-top: 80px;
    font-size: 50px;
    font-weight: bold;
}




/* .form-container mat-form-field{

    background-color: red;
    margin: 0;
    padding: 0;

} */

/* .form-container input {
    border-radius: 20px;
    height: 40px;
    width: 200px;
    margin-top: 40px;
}

.form-container input:focus{
    outline: none;
    border:2px solid #714ef9
} */

/* .form-container input:focus{
    outline: none;
    border:2px solid #714ef9
}

.form-container button {
    margin-top: 80px;
} */

/* #title {
	margin-top: 80px;
	font-size: 100px;
    font-weight: bold;
    background-color: red;
} */



/* .check-icon {
	right:30px;
	position:absolute;
	top:10px;
} */

/* .form-field {
	border-radius: 20px !important;
} */

.form-container input, button{
    border-radius: 20px !important;
}


.form-container input:focus{
    outline: none;
    border:2px solid #714ef9
} 

.mycustom {
    border: none;
    /* border: solid 1px black; */
    position: relative;
}
.mycustom input[type=text] {
    border: none;
    width: 100%;
    padding-right: 123px;
}
.mycustom .input-group-prepend {
    position: absolute;
    right: 4px;
    top: 4px;
    bottom: 4px;z-index:9;
}