<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Stock Search</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
	  		<li class="nav-item active">
				<button class="btn">
					<a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a>
				</button>
			</li>
			<li class="nav-item">
				<button class="btn">
					<a class="nav-link" href="#">Watchlist</a>
				</button>
	  		</li>
	  		<li class="nav-item">
				<button class="btn">
					<a class="nav-link disabled" href="#">Portfolio</a>
				</button>
	  		</li>
		</ul>
  	</div>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
