<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<div class="d-flex flex-column align-self-stretch" style="min-height: 100%;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<span class="navbar-brand">Stock Search</span>
		<button  class="navbar-toggler mb-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon" >
			</span>
		</button>
	
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-md-auto">
				<li class="nav-item">
					<a class="nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active-route">
						<div class="px-2 text-right text-md-center">
							Search
						</div>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/watchlist" routerLinkActive="active-route">
						<div class="px-2 text-right text-md-center">
							Watchlist
						</div>
					</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" routerLink="/portfolio" routerLinkActive="active-route">
						<div class="px-2 text-right text-md-center">
							Portfolio
						</div>
					</a>
				  </li>
			</ul>
		  </div>
	</nav>
	<div class="flex-grow-1">
		<router-outlet></router-outlet>
	</div>

	<div class="d-flex justify-content-center p-3 mt-3 footer">
		Powered by Tingo. Developed by Shamsuddin Rehmani
	</div>
</div>
