.align-end {
    text-align: end;
}

.row1 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;

}

.row2 {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 80%;
}

.row3 {
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.market-status {
    text-align: center;
}

.price-details {
    text-align: center;
}

.market-closed {
    background-color: 	#fcd6d8;
    color: #8e1727;
}

.market-open {
    background-color:#d1eedb;
    color: #3e8672;
}

.spinner {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.star{
    cursor: pointer;
}
