
<div>
    <div class="row card-deck">
        <div class="col-sm-6 align-items-stretch d-flex" *ngFor="let news of companyNews">
            <div class="card news-item bg-light" (click)="open(news, content)">
                <img src="{{ news.urlToImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ news.title }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="modal-title" id="" >
          <h1> {{ currNews.source }} </h1>
          <h5> {{ currNews.publishedAt }} </h5>
      </div>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h2>
            {{ currNews.title }}
        </h2>
        <p>{{ currNews.description }}</p>
        <p>
          For more details click <a href="{{ currNews.url}}" target="_blank">here</a>
        </p>
    </div>
    <div class="modal-footer">
        <div class="" attr.data-href="{{ currNews.url }}" data-layout="button_count" data-size="small"><a target="_blank" href="{{ 'https://www.facebook.com/sharer/sharer.php?u=' +  currNews.encodedUrl + '&amp;src=sdkpreparse'}}" class="fb-xfbml-parse-ignore">Share</a></div>
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div>
</ng-template>
    
